h1,h2,h3,h4,h5,h6,p {
  margin: 0 0 1em;
}

*,:after,:before {
  box-sizing: border-box;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
  margin: 0;
  color: #333;
}

a {
  text-decoration: none;
}

.button {
  padding: 5px 10px;
  background: #0080c3;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
  margin: 0 0 20px;
}

.button:hover {
  background: #005f90;
}

.button.button-danger {
  padding: 5px 10px;
  background: #cc0b24;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
  margin: 0 0 20px;
}

.button.button-danger:hover {
  background: #9c081b;
}

.button.button-success {
  padding: 5px 10px;
  background: #8cce67;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
  margin: 0 0 20px;
}

.button.button-success:hover {
  background: #6fc240;
}

.btn i {
  padding-right: 5px;
}

.btn-default {
  background-color: #F3F3F3;
  margin-right: 5px;
}

.btn-group input[type=radio] {
  position: absolute;
  clip: rect(0,0,0,0);
  pointer-events: none;
}

.btn-group {
  margin-bottom: 10px;
}

.btn-group .btn-primary {
  background-color: #F3F3F3;
  border-color: #E6E6E6;
  color: #333;
}

.btn-primary.active,.btn-primary.focus,.btn-primary:active,.btn-primary:focus,.btn-primary:hover,.open>.dropdown-toggle.btn-primary {
  background-color: #0080C3;
  border-color: #006EA8;
  color: #FFF;
}

.dropzone {
  height: 117px!important;
  font-size: 10px;
}

.dropzone:before {
  top: 16px!important;
}

#header {
  background: #111;
  color: #FFF;
  padding: 10px 12px;
  height: 50px;
  max-width: none;
  margin: 0;
  position: relative;
}

#header a.logo {
  width: 115px;
  height: 30px;
  background-size: contain;
  display: inline-block;
  float: left;
  color: #eee;
  letter-spacing: 1px;
}

#header a.logo:hover {
  text-decoration: none;
  border: none;
}

#header a.logo span {
  vertical-align: super;
}

#header .text {
  font-size: 25px;
  margin-left: 15px;
  line-height: 33px;
}

#nav {
  height: 100%;
  position: absolute;
  display: inline-block;
  right: 15px;
  top: 0;
}

#nav ul {
  letter-spacing: -4px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

#nav ul li {
  letter-spacing: normal;
  display: inline-block;
  margin: 0 10px 0 0;
  height: 100%;
  float: left;
  line-height: 1.8;
}

#nav ul li.link a {
  padding: 5px 10px;
  background: #111;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  color: #ddd;
  cursor: pointer;
  margin: 0 0 20px;
  height: 100%;
  background-color: inherit;
  display: inline-block;
  padding-top: 13px;
  letter-spacing: 1px;
}

#nav ul li.link a:hover {
  background: #000;
}

#nav ul li.link a:active,#nav ul li.link a:focus,#nav ul li.link a:link,#nav ul li.link a:visited {
  background-color: inherit;
  text-decoration: none;
}

#nav ul li.link.active,#nav ul li.link:hover {
  color: #fff;
  background-color: #333;
}

#nav ul li.text {
  font-size: 1.2em;
  font-weight: 300;
}

#nav ul li:last-of-type {
  margin: 0;
}

@media screen and (max-width:828px) {
  #nav {
    position: relative;
    display: block;
    clear: left;
    height: 35px;
  }

  #nav ul li.link a {
    padding-top: 5px;
  }
}

#body {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}

div.svg {
  overflow: visible;
  margin-bottom: 70px;
}

div.svg.fixed {
  position: fixed;
  top: 20px;
}

div.svg #snap-svg {
  border: 1px solid #ccc;
  box-sizing: content-box;
}

div.svg div.config-wrapper {
  margin-top: 20px;
  overflow: auto;
}

div.svg div.config-wrapper h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 5px;
  font-size: 1.2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.svg div.config-wrapper h3 small {
  color: #384e87;
  text-transform: initial;
}

div.svg div.config-wrapper .panel {
  margin-bottom: 20px;
  padding: 10px 0 20px;
  border-bottom: 1px solid #e6e6e6;
}

div.svg div.config-wrapper .panel:last-of-type {
  border-bottom: 0;
}

div.svg div.config-wrapper .form-inline .form-control {
  vertical-align: baseline;
}

div.svg div.config-wrapper label {
  font-weight: 400;
}

div.svg input,div.svg select,div.svg textarea {
  min-height: 0;
}

@media screen and (max-width:828px) {
  div.svg.fixed {
    position: relative;
    top: auto;
    height: auto;
  }
}

aside.elements {
  margin-bottom: 70px;
  border-left: 1px solid #e6e6e6;
}

aside.elements .panel {
  margin-bottom: 4px;
  padding: 10px 0 0;
  border-top: 1px solid #e6e6e6;
  box-shadow: none;
  border-radius: 0;
}

aside.elements .panel h3 {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 6px;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

aside.elements .panel h3.toggle,aside.elements .panel h3[ng-click] {
  cursor: pointer;
}

aside.elements .panel h3 .glyphicon {
  color: #999;
  font-size: 12px;
}

aside.elements .panel h3 small {
  color: #384e87;
  text-transform: initial;
}

aside.elements .panel h6 {
  margin-bottom: 4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 11px;
}

aside.elements .panel ul {
  margin-bottom: 5px;
  padding-left: 20px;
  text-indent: -4px;
}

aside.elements .panel .form-group input[type=number] {
  width: 100px;
  margin-right: 10px;
}

aside.elements .panel label {
  font-weight: 300;
  vertical-align: middle;
}

aside.elements .panel .fileInputWrapper {
  position: relative;
  overflow: hidden;
  margin: 54px auto 10px;
  width: 50%;
  text-align: center;
  cursor: pointer;
  display: block;
}

aside.elements .panel .fileInputWrapper input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
}

aside.elements .panel .short-range {
  max-width: 200px;
}

aside.elements .panel:first-child {
  border-top: none;
  padding: 0;
}

aside.elements .panel:last-of-type {
  border-bottom: 0;
}

@media screen and (max-width:828px) {
  aside.elements {
    border-left: 0;
  }
}

.results {
  margin-top: 20px;
}

#footer {
  margin: 0 auto;
  padding: 10px 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255,255,255,.6);
  box-shadow: 0 -2px 0 #dadada;
}

#footer p.version {
  font-weight: 800;
  margin: 0;
}

#footer p.credits {
  font-size: 12px;
}

.footnote {
  color: #666;
  line-height: 17px;
}

#snap-svg [draggable=true],#svg [draggable=true] {
  cursor: move;
}

input,select,textarea {
  margin: 0 0 .6em;
}

.dropzone {
  border: 2px dashed #b7b7b7;
  width: 100%;
  position: relative;
  margin: 0 0 10px;
}

.dropzone:before {
  content: 'Drop your image here';
  color: #b7b7b7;
  font-size: 2em;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.dropzone.drag-over-accept {
  background: #eaeaea;
}
